body{
    font-size: 15px !important
}
.img-size{
    width: 250px;
    height: 200px;
}
.ml-5{
    margin-left: 5px;
}
.mt-20{
    margin-top: 20px;
}
.size-box{
    width: 100%;
    height: 35px;
    background-color: rgb(198, 193, 193);
    padding-top: 5px;
   
}
.b-n{
    border: none;
    background-color: inherit;
}
.size-imgProduct{
    width: 350px;
    height: 200px;
    margin-top: 20px;
}